/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-height {
    height: 100%;
}

.display-flex {
    display: flex;
}

.ml-3 {
    margin-left: 3rem;
}

.mt-1 {
    margin-top: 1rem;
}